html, #root {
  height: 100%;
  width: 100%;
  disply: flex;
}

*{
  box-sizing: border-box;
}

body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  background: rgb(26, 26, 27);
  color:white;
}

.main {
  flex: 1;
  width: 100%;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

header {
  position: fixed;
  display: flex;
  height: 56px;
  width: 100%;
  border-bottom: 2px solid rgb(64, 63, 65);
}

header img {
  position: fixed;
  height: 32px;
  margin: 13px 3px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(8deg) brightness(103%) contrast(101%);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px;
  border-top: 2px solid rgb(64, 63, 65);
}

footer input {
  /*border-top: 2px solid rgb(64, 63, 65);*/
  position: absolute;
  /*bottom: 0px;*/
  height: 30px;
  width: 82%;
  bottom: 12px;
  left: 14px;
  border-radius: 20px;
  outline: none;
  padding-left: 10px;
  border: 1px solid rgb(192, 192, 193);
}

#message_bar img {
  cursor: pointer;
  position: fixed;
  right: 0;
  height: 50px;
  bottom: 3px;
  filter: invert(70%) sepia(63%) saturate(554%) hue-rotate(76deg) brightness(86%) contrast(93%);
}

.header_name {
  position: fixed;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  left: 35px;
  top: -10px;
}

/*messages {*/
/*  position: relative;*/
/*  background: rgb(70, 68, 87);*/
/*  text-align: left;*/
/*  padding: 10px;*/
/*  width: 40%;*/
/*  top: 50px;*/
/*  margin: 0 180px 15px 0;*/
/*  border-radius: 15px;*/
/*}*/

#left_bubble_1 {
  position: absolute;
  background: rgb(70, 68, 87);
  text-align: left;
  overflow: auto;
  padding: 10px 16px 10px 12px;
  bottom: 140px;
  margin: 0 0 0 10px;
  border-radius: 15px;
}

#left_bubble_2 {
  position: absolute;
  background: rgb(70, 68, 87);
  text-align: left;
  padding: 10px 16px 10px 12px;
  overflow: auto;
  bottom: 70px;
  margin: 0 0 0 10px;
  border-radius: 15px;
}

#right_bubble {
  position: absolute;
  background: rgb(48, 209, 88);
  text-align: left;
  padding: 10px 16px 10px 12px;
  right: 10px;
  bottom: 210px;
  border-radius: 15px;
}

/* https://codepen.io/sosuke/pen/Pjoqqp */
